* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Arial';
    src: url(arial.ttf) format('truetype');
}

body {
    font-family: 'Arial', sans-serif;
}

a {
    color: cornflowerblue;
}

hr {
    margin-bottom: 1.5em;
    height: 1px;
    border: none;
    background-color: #bfbfbf;
}

h1 {
    color: #e47911;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.text {
    font-weight: bold;
}

.book_container {
    padding: 10px 10px 20px 10px;
    width: 100%;
}

#header_description {
    font-size: 0.9em;
    color: #888888;
}

#main_book_container {
    display: flex;  
    width: 50%;
    flex-direction: row;
}